@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;

@{
	var number = Model.Content?.Value<int>("numberOfCards") ?? 4;
    var showPagination = Model.Content.Value<bool>("usePagination");
	var selection = Umbraco.Content(Guid.Parse("88f70064-0848-45eb-a997-81295849fe02"))
    .ChildrenOfType("projectItem")
    .Where(x => x.IsVisible())
	.Take(number);
}
<div class="project-wrapper">
	@foreach (var item in selection)
	{
		var image = item?.Value<IPublishedContent>("projectThumbnail")?.Url() ?? "";
		var projectDate = item.Value<DateTime>("projectDate");
		var projectDescription = item.Value<string>("projectDescription");
		
			<article class="project-item bg-light">
				<img src="@image" alt="" class="project-image"/>
				<div class="item-content">
					<h5 class="h5">@item.Name()</h5>
					<p class="note1">@projectDate.ToString("dd MMMM yyyy")</p>
					<p class="body">@projectDescription</p>
					<a class="link" href="@item.Url()">Read more</a> @* lägg in en pil! *@
				</div>
			</article>	
			
	}

	@if(showPagination){
		<div class="project-pagination">[paginering]</div>
	}
</div>