@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var teamMembers = Model.Content.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("teamMembers");
    var teamList = teamMembers?.ToList();
}

@if (teamList != null)
{
    <div class="team-grid">
        <div class="grid1">
            @for (int i = 0; i < Math.Min(3, teamList.Count); i++)
            {
                var teamMember = teamList[i];
                var teamMemberImage = teamMember?.Content.Value<IPublishedContent>("teamMemberImage")?.Url();
                var teamMemberName = teamMember?.Content.Value<string>("teamMemberName") ?? "";
                var teamMemberTitle = teamMember?.Content.Value<string>("teamMemberTitle") ?? "";

                <article class="team-item">
                    <img src="@teamMemberImage" alt="" />
                    <div class="item-content">
                        <h5 class="h5">@teamMemberName</h5>
                        <p class="note1">@teamMemberTitle</p>
                    </div>
                </article>
            }
        </div>
        <div class="grid2">
            @for (int i = 3; i < teamList.Count; i++)
            {
                var teamMember = teamList[i];
                var teamMemberImage = teamMember?.Content.Value<IPublishedContent>("teamMemberImage")?.Url();
                var teamMemberName = teamMember?.Content.Value<string>("teamMemberName") ?? "";
                var teamMemberTitle = teamMember?.Content.Value<string>("teamMemberTitle") ?? "";

                <article class="team-item">
                    <img src="@teamMemberImage" alt="" />
                    <div class="item-content">
                        <h5 class="h5">@teamMemberName</h5>
                        <p class="note1">@teamMemberTitle</p>
                    </div>
                </article>
            }
        </div>
    </div>
}